<h1 class="mt-4">Usuario</h1>
<ol class="breadcrumb mb-4">
   <li class="breadcrumb-item active">{{ usuario.idUsuario ? 'Edição' : 'Cadastro' }}</li>
 </ol>
 

 <div class='container'>
   <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="success == true">
            Usuario Salvo/Atualizado com sucesso!
          </div>

          <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
             {{erro}}
          </div>
        </div>
    </div>


    <div class ="row" >
       <div class="col-md-6">
         <div class="form-group">
           <label>ID:</label>
           <input type="text" class="form-control" [ngModel]="usuario.idUsuario" name="id" disabled="true"/>
         </div>
       </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Nome:*</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.nomeUsuario" name="nome"/>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Email:*</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.emailUsuario" name="email"/>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label>Senha:*</label>
            <input type="password" class="form-control" [(ngModel)]="usuario.senhaUsuario" name="senha"/>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Tipo Usuario:</label>
              <select class="form-control" [(ngModel)]="usuario.idTipoUsuario" name="idTipoUsuario" disabled="true" >
                <option value="1" >Aluno</option>
                <option value="2" >Professor</option>
            </select>
            </div>
          </div>
      </div>


    <div class="row">
      <div class="col-md-3">
        <button type="submit" class= "btn btn-success" *ngIf = "!usuario.idUsuario">
          <i class="fa fa-save"> </i> Salvar
        </button>

        <button type="submit" class= "btn btn-primary" *ngIf = "usuario.idUsuario">
          <i class="fa fa-sync-alt"> </i> Atualizar
        </button>

        <button type="button" class= "btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"> </i> Voltar
        </button>
      </div>
    </div>
</form>
</div>



