<h1 class="mt-4">Provas</h1>
<ol class="breadcrumb mb-4">
   <li class="breadcrumb-item active">{{ prova.idProva ? 'Edição' : 'Cadastro' }}</li>
 </ol>


 <div class='container'>
   <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="success == true">
           Prova Salvo/Atualizado com sucesso!
          </div>

          <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
             {{erro}}
          </div>
        </div>
    </div>


    <div class ="row" >
       <div class="col-md-6">
         <div class="form-group">
           <label>ID:</label>
           <input type="text" class="form-control" [ngModel]="prova.idProva" name="idProva" disabled="true"/>
         </div>
       </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Data da Prova:*</label>
          <input type="date" class="form-control" [(ngModel)]="prova.dataProva" name="dataProva"/>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-3">
        <button type="submit" class= "btn btn-success" *ngIf = "!prova.idProva">
          <i class="fa fa-save"> </i> Salvar
        </button>

        <button type="button" class= "btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"> </i> Voltar
        </button>
      </div>
    </div>
</form>
</div>



