<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
          <div class="nav">
              <div class="sb-sidenav-menu-heading">Core</div>
              <a class="nav-link" routerLink="/home"
                  ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                  Home</a
              >
              <div class="sb-sidenav-menu-heading">Cadastros</div>

                  <a class="nav-link collapsed"   routerLink="/questoes"
                  data-toggle="collapse"data-target="#collapseLayouts"
                  aria-expanded="false" aria-controls="collapseLayouts"
                  ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                  Questões
                  </a>

                  <a class="nav-link collapsed" routerLink="/resultados"
                  data-toggle="collapse"data-target="#collapseLayouts"
                  aria-expanded="false" aria-controls="collapseLayouts"
                  ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                  Resultados
                  </a>

                  <a class="nav-link collapsed" routerLink="/provas"
                  data-toggle="collapse"data-target="#collapseLayouts"
                  aria-expanded="false" aria-controls="collapseLayouts"
                  ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                  Provas
                  </a>

                  <a class="nav-link collapsed" routerLink="/usuarios"
                  data-toggle="collapse"data-target="#collapseLayouts"
                  aria-expanded="false" aria-controls="collapseLayouts"
                  ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                  Usuarios
                  </a>

              <div class="sb-sidenav-menu-heading">Saida</div>

              <a class="nav-link" routerLink="/graficos"
              data-toggle="collapse"data-target="#collapseLayouts"
              aria-expanded="false" aria-controls="collapseLayouts"
              ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
              Graficos</a>


              <div class="sb-sidenav-menu-heading">Logout</div>
              <a class="nav-link collapsed" (click)="logout();" href="#"
                  data-toggle="collapse" data-target="#collapseLayouts"
                  aria-expanded="false" aria-controls="collapseLayouts"
                  ><div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                  Sair
              </a>
          </div>
      </div>
      <div class="sb-sidenav-footer">
          <div class="small">Usuário Logado:</div>
          {{ convidadoLogado }}
      </div>
  </nav>
</div>
